@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: bugaki;
  src: url('./fonts/Bugaki-Regular.otf');
}

@font-face {
  font-family: tt;
  src: url('./fonts/tt.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  background-color: #fffcf2;
}

@keyframes drop {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.css {
  animation: drop 2s ease;
}
