@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: bugaki;
  src: url('./fonts/Bugaki-Regular.otf');
}

@font-face {
  font-family: tt;
  src: url('./fonts/tt.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
}
